<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>// theresa.ai //</title>
    <!-- vendor scripts -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <!-- vendor styles -->
    <link rel="stylesheet" type="text/css" href="../vendor/reset.css">
    <!-- scripts -->
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
  </head>
  <body>
    <header id="stickyHeader">
      <div id="headerLogo">
      </div>
      <div>
        <h1>Theresa Thoraldson</h1>
        <h2>Machine Learning & AI Engineer</h2>
      </div>
      <nav>
        <h3><a href="">Home</a></h3>
        <h3><a href="">About</a></h3>
        <h3><a href="">Portfolio</a></h3>
        <h3><a href="">Writing</a></h3>
        <h3><a href="">Contact</a></h3>
      </nav>
    </header>
    <main>
      <section id="About">
        <h1>About</h1>
        <p></p>
      </section>
      <section id="Portfolio">
        <h1>Portfolio</h1>
        <!-- Github & Kaggle webhook here -->
        <p></p>
      </section>
      <section id="Writing">
        <h1>Writing</h1>
        <!-- Medium Webhook here -->
        <p></p>
      </section>
      <section id="Contact">
        <h1>Contact</h1>
        <p></p>
      </section>
    </main>
    <footer>
      <div>Memberships & Societies</div>
      <div "footerFreelancerUnion">
        <a href="https://www.freelancersunion.org/?utm_source=badge&utm_campaign=member&utm_content=member-stamp-200">
          <img src="https://fu-res.org/badges/member-stamp-200@2x.png" alt="Proud member of Freelancers Union" height="150" width="150" style="height:auto;max-width:200px" />
        </a>
      </div>
      <div id="footerRunOnAWS">
        Run on AWS λ
      </div>
    </footer>
  </body>
</html>
